$color-main-link: #e3d0aa;
$color-main: #ceac6a;
$color-gray1: #4f4f4f;
$color-gray2: #76767a;
$color-gray99: #6f6e73;
$color-gray3: #ccc;
$color-gray4: #bcbcbc;
$color-gray5: #e8e8e8;
$color-back: #f7f7f7;
$color-white: #fff;
$color-applications-bkg: #f1f6fa;
$color-base-button: #ceac6a;
$color-base-button-hover: #e3d0aa;
$color-card-title-bkg: #84c57a;
$color-sidebar: #353535;
$color-inactive-btn: #a5a5a5;
$color-before-btn: #403f3f;